html, body {
  height: 100%;
  width: 100%;
}
main{
  display: flex;
  text-align: left;
  font-size: small;
  align-items: justify;
}
.one{
  background-color: #ec9d09;
  padding: 30px;
  text-align: justify;
}
  

.top-up{
  background-color: darkcyan;
  padding: 30px;
  
}
  .three{
    background-color: #8f9e9e;
    padding: 20px;
  }
button{
  border-radius: 5em;
}
